body {
   font-family: Arial;
   margin: 0px;
   background-color: red;
   
}

#header {
   background-image: url('Resources/MainBanner.jpg');
   text-align:center;
   padding: 10px;
   color: white;
}
#nav {
   line-height:30px;
   width:12%;
   float:left;
   padding:10px;
}
#section {
    width:87%;
    float:right;
    padding:10px; 
    background-color: white;
}
