body {
   font-family: Arial;
   margin: 0px;
   background-color: red;
   
}

#header {
   background-image: url('Resources/MainBanner.jpg');
   text-align:center;
   padding: 10px;
   color: white;
}
#nav {
   line-height:30px;
   width:15%;
   float:left;
   padding:10px;
   display: inline;
}
#section {
    width:85%;
    float:right;
    padding:10px; 
    background-color: white;
}

#nav ul a: hover {
   text-decoration: underline;
   color:66ccff;
   
}
