body {
   font-family: Arial;
   margin: 0px;
   height: 100%;
   
}


  

#header {
    text-align:center;
    background-color: grey;
    height: 10vh;
}
#nav {
    line-height:30px;
    height:100vh;
    background-color: grey;
    float:left;
}
#Pad {
    padding: 10px;
}
#section {
    float:left;
    padding: 10px;
}
