body {
   font-family: Arial;
   margin: 0px;
   height: 100%;
   
}
#header {
    text-align:center;
    background-color: 000000;
    height: 100px;
    background-image: url("http://www.coventry.ac.uk/Global/03%20Study%20section%20assets/Course%20Wizard/2013%20Courses/EandC/Network%20Computing%20MSc/network_computing_msc1.jpg");
}
#nav {
    line-height:30px;
    height:100vh;
    background-color: grey;
    float:left;
    background-image: url("https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcTDLkmBzfLVkxjPJ73ljZaVkJt2oTVFth5BvegmvMhL3loEb2JX");
}
#Pad {
    padding: 10px;
}
#section {
    float:left;
    padding: 10px;
}
