body {
   font-family: Arial;
   margin: 0px;
}

#header {
   background-color: #CC0000;
   text-align:center;
   padding: 10px;
}
#nav {
   background-color: #80C0F0;
   line-height:30px;
   height:300px;
   width:150px;
   float:left;
   padding:10px;
}
#section {
    width:350px;
    float:left;
    padding:10px; 
}
