body {
   font-family: Arial;
}
#info{
  width:200px;
  background-color:#ffoooo;
}
#header {
   background-color: #CC0000;
   text-align:center;
   padding: 5px;
}
#nav {
   line-height:30px;
   height:300px;
   width:100px;
   float:left;
   padding:5px;
}
