body {
   font-family: Arial;
   margin: 0px;
   background-color: red;
}

#header {

   text-align:center;
   padding: 10px;
}
#nav {
   line-height:30px
   width:15%;
   float:left;
   padding:10px;
}
#section {
    width:80%;
    float:right;
    padding:10px; 
    background-color: white;
}
